@import "./variables";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#headImg{
}

body{
  background-color: nth($logoColors,3);
}

#app{
  text-align:center;
}

.slider{
  max-width: 100%;
  height: auto;
  border: 10px solid nth($logoColors,1);
}

img-comparison-slider{
  --divider-width: 5px;
  --divider-color: #9D4EBF;
  --handle-opacity: 0.8;
}

.custom-handle {
  width: var(--handle-size);
  height: var(--handle-size);
}